body {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2em;
}
.tophead {
  background: url(../img/tournoi.jpg);
  background-size: cover;
  background-position: 55%;
  height: 700px;
}
@media only screen and (max-width: 390px) {
    h2{
        font-size: 2em;
    }
  }